{% extends 'schedule/base.html' %}

{% block html-title %}Departure Board{% endblock%}

{% load departure_filters %}
{% load static %}

{% block head %}
	{{ block.super }}
	<script src="{% static 'schedule/js/departures.js' %}"></script>
{% endblock %}

{% block body %}
	<h1>Departure Board</h1>
	<h2>Last Updated {{ timestamp|print_timestamp }}</h2>
	<h3>North Station</h3>
	{% with data=north_station_departures %}
		{% include 'schedule/board.html' %}
	{% endwith %}
	<h3>South Station</h3>
	{% with data=north_station_departures %}
		{% include 'schedule/board.html' %}
	{% endwith %}
{% endblock %}